{% extends "base.html" %}
{% block body %}

            <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="display-t js-fullheight">
                                <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                                    <h1>XD</h1>
                                    <p>
                                        <a class="btn btn-primary btn-lg btn-demo" href="https://krzysiekwie.github.io"></i> github </a>
                                        <a class="btn btn-primary btn-lg btn-learn" href="https://zajecia-programowania-xd.pl/"> {{text}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
{% endblock %}
    