{% extends "base.html" %}
{% block body %}

        <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t js-fullheight">
                            <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                                <h1>generate your password</h1>
                                    
                                    {% if name %}
                                        <form method="POST">
                                            {{form.hidden_tag()}}
                                    
                                            {{form.name.label(class="form-label")}}
                                            {{form.name}}
                                        
                                            {{form.submit(class="btn btn-primary btn-lg btn-learn")}}
                                        </form>    
                                        <h2>{{password}}</h2>
                                    {% else %}
                                        <form method="POST">
                                            {{form.hidden_tag()}}
                                      
                                            {{form.name.label(class="form-label")}}
                                            {{form.name}}
                                        
                                            {{form.submit(class="btn btn-primary btn-lg btn-learn")}}
                                        </form>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}