{% extends "base.html" %}
{% block body %}


<div id="fh5co-wireframe">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>najbardziej przydatne skróty klawiszowe w terminalu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center animate-box">
                {% for shortcut in shortcuts %}
                    <div class="user-frame">
                    <h3>{{ shortcut[0] }}</h3>
                    <p>{{ shortcut[1] }}</p>
                    </div>
                    <p> </p>
                {% endfor %}
            <!-- <div class="col-md-7 animate-box">
                <p> </p>
                <blockquote>
                    <p> </p>
                </blockquote>
                <p> </p>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}